.header
  border-bottom: 1px solid $grey-lightest
  font-family: $family-primary
  line-height: 1em
  padding: 0 $margin
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 999
  background: $white

  &__wrapper
    display: flex
    align-items: center
    align-content: space-between
    justify-content: space-between
    min-height: 75px

  &__logo
    padding: $margin 0

    +animate(opacity)

    &:hover
      opacity: 0.6

    img
      height: 25px
      width: auto
      display: block

  &__nav
    list-style: none
    display: flex
    justify-content: flex-start
    width: 100%
    padding: 0px $margin-small

    +mq(mobile)
      display: none


    &_item
      margin: 0px $margin-small

      a
        color: $black
        text-decoration: none

        +animate(color, opacity, background-color)

        &:hover
          color: $green

        &.is-active
          border-bottom: 1px solid $green
          color: $green

  &__contribute
    text-align: right

    +mq(mobile)
      display: none

  &__hamburger
    display: none

    +mq(mobile)
      display: block

  &__mobileNav
    position: fixed
    top: 75px
    left: 100vw
    width: 100vw
    background-color: $black
    z-index: 999
    padding: 0 $margin
    color: $white
    bottom: 0
    transform: translateX(0vw)
    display: none

    +mq(mobile)
      display: block


    +animate(transform)

    &.is-open
      transform: translateX(-100vw)

    &_item
      list-style: none
      font-size: $size-5
      line-height: $size-3
      border-bottom: 1px solid $white

      &:last-child
        border-bottom: 0

      & > a
        color: $white
        text-decoration: none
        display: block
        padding: $margin 0

        &.is-active
          color: $green

      &_sub
        padding: 0 0 0 $margin-small
        border-left: 1px solid $grey
        margin: 0
        margin-bottom: $margin

        &_group
          margin: 0
          padding: 0 0 $margin

          &:last-child
            padding: 0

            li:last-child
              padding-bottom: 0

          &_title
            font-size: $size-7
            line-height: $size-7
            text-transform: uppercase
            letter-spacing: 2px
            color: $grey
            display: block

          li
            text-decoration: none
            border-bottom: 0
            padding: $margin-smaller 0

            a
              color: $white
              text-decoration: none

              &.is-active
                color: $green

  &__sidebarButton
    width: 32px
    height: 32px
    display: none
    position: relative
    outline: none
    overflow: hidden

    +mq(mobile)
      display: block


    &_bar
      width: 100%
      position: absolute
      left: 0
      right: 0
      height: 2px
      background-color: $black
      transition: top cubic-bezier(0.23, 1, 0.32, 1) 0.25s 0.25s, bottom cubic-bezier(0.23, 1, 0.32, 1) 0.25s 0.25s, margin cubic-bezier(0.23, 1, 0.32, 1) 0.25s 0.25s, -webkit-transform cubic-bezier(0.23, 1, 0.32, 1) 0.25s 0s

      &:first-child
        top: 10px

      &:last-child
        bottom: 10px

    &.is-open
      i
        transition: top cubic-bezier(0.23, 1, 0.32, 1) 0.25s 0s, bottom cubic-bezier(0.23, 1, 0.32, 1) 0.25s 0s, margin cubic-bezier(0.23, 1, 0.32, 1) 0.25s 0s, -webkit-transform cubic-bezier(0.23, 1, 0.32, 1) 0.25s 0.25s

        &:first-child
          top: 15px
          transform: rotate(45deg)

        &:last-child
          bottom: 15px
          transform: rotate(-45deg)
