*
  box-sizing: border-box

.page-index
  &__intro
    min-height: calc(100vh - 400px)
    display: flex
    flex-direction: column
    justify-content: center
    padding: $margin 0
    position: relative

    &_bg
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      z-index: -10

      video
        position: absolute
        bottom: 0
        right: 0
        top: 0
        left: 0
        height: 100%
        width: 100%
        object-fit: cover

    &_text
      max-width: 40rem
      margin: auto
      text-align: center

      h1
        margin-bottom: $margin

      &_bottom
        padding-top: $margin * 2

        .btn
          margin: $margin-smaller

    &_subtext
      width: 100%

      &_card
        background-color: $white
        color: $black
        padding: $margin-large 0
        text-align: center
        box-shadow: 0px 30px 50px -40px $grey-lighter

        +mq(mobile)
          text-align: left

          .btn-small, .btn-big
            width: 100%
            text-align: center
            margin: 0

            &:first-child
              margin-bottom: $margin


        p
          font-size: $size-5
          margin: auto

  &__latest
    overflow: hidden
    position: relative
    padding: $margin-largest 0

    h2
      font-size: $size-4
      text-align: center
      padding-bottom: $margin
      margin-bottom: $margin
      color: $grey-light
      position: relative

      &::after
        content: " "
        width: $margin-large
        position: absolute
        bottom: 0
        left: 50%
        margin-left: -$margin
        right: auto
        height: 2px
        background-color: $grey-lightest

    &_items
      width: 100vw
      overflow: hidden
      display: flex
      align-items: flex-start
      align-content: center
      justify-content: center
      flex-direction: row
      box-sizing: border-box

      +mq(mobile)
        flex-direction: column
        padding: 0 $margin

    &_item
      max-width: 400px
      width: 100%
      margin: $margin-small

      +mq(mobile)
        margin: $margin 0
        min-width: auto
        width: 100%


      .category
        font-size: $size-7
        letter-spacing: 2px
        margin-bottom: $margin-smaller
        display: block
        color: $grey
        text-transform: uppercase

      .title
        font-size: $size-5
        line-height: $size-3

      a
        display: block
        text-decoration: none
        color: inherit

        +animate(opacity)

        &:hover
          opacity: 0.6

      &_thumb
        overflow: hidden
        border-radius: $radius-large
        margin-bottom: $margin-small
